<div class="card my-3 mx-2">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3>Hard Skills & Soft Skills</h3>
        <button class="btn editBtn"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="d-flex flex-column align-items-center">
  
        <ng-container *ngFor="let d of data; let indexOfElemnt=$implicit">
          <div class="d-flex">
            <div *ngIf="d.edit">
              <div class="d-flex justify-content-between mb-2" >
                <div><input type="text" [(ngModel)]="d.skillName" class="form-control form-control-sm"></div>
                <button class="btn btn-primary btn-sm ms-2" (click)="toggleEdit(indexOfElemnt.id)">Edit</button>
              </div>
            </div>
          
            <p *ngIf="d.edit!=true">{{ d.skillName }}</p>
            <div class="ms-3" *ngIf="d.edit!=true">
              <button class="btn editBtn" (click)="toggleEdit(indexOfElemnt.id)"><i class="fa-solid fa-pen-to-square"></i></button>
              <button class="btn editBtn ms-1"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
  
          <ng-template #tolTemplate>{{ d.value }}</ng-template>
          <div class="range w-75 mw-100" *ngIf="d.edit">
            <input type="range" class="form-range customRange" [min]="this.min" [max]="this.max" [(ngModel)]="d.value" [tooltip]="tolTemplate" id="customRange" />
          </div>
          <div class="progress w-75 mw-100 mb-3" *ngIf="d.edit!=true">
            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" aria-label="Basic example" [style.width]="d.value+'%'" aria-valuenow="d.value" aria-valuemin="0" aria-valuemax="100">{{ d.value }}%</div>
          </div>
        </ng-container>
        
      </div>
    </div>
</div>
  
  
  
  
