<div class="card my-3 mx-2">
    <div class="card-body">
      
      <div class="d-flex justify-content-between">
        <h3>Acerca de</h3>
        <button class="btn editBtn" (click)="toggleEdit()"><i class="fa-solid fa-pen-to-square"></i></button>
      </div>
      <p class="aboutContent" *ngIf="this.edit!=true">{{ aboutContent }}</p>
      <div class="d-flex" *ngIf="this.edit">
        <textarea [(ngModel)]="aboutContent" class="form-control me-3" rows="1"></textarea>
        <button class="btn btn-primary" (click)="toggleEdit()">Edit</button>
      </div>
    </div>
</div>
